/* СТИЛИ ГЛОБАЛЬНЫХ СЕЛЕКТОРОВ КО ВСЕМУ ПРОЕКТУ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}
