/* ОБЩИЕ МИКСИНЫ */

// Сброс стилей списка
@mixin no-list-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Сброс отступов и полей
@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

// Выравнивание по центру Flex
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Выравнивание по центру Grid
@mixin grid-center {
  display: grid;
  place-items: center; /* Выравнивание по горизонтали и вертикали */
  height: 100vh;       /* Высота контейнера для демонстрации вертикального выравнивания */
}

// Абсолютное центрирование элемента
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
