/* КОНТЕЙНЕРЫ ДЛЯ МАКЕТА */

// Основной контейнер

// .main-container {
//   width: 100%;
//   max-width: 1440px;
//   margin: 0 auto;
//   padding: 0 110px;

//   @media (min-width: $mobile-width-only) {
//     width: $mobile-width-only;
//     min-width: 320px;
//     padding: 0 20px;
//   }

//   @media (min-width: $tablet-width) {
//     padding: 0 30px;
//     width: $tablet-width;
//   }
// }
