.additional-products {
  width: 100%;
  padding: 0 20px;
  overflow-x: hidden;


  .additional-products__title {
    @include no-list-style;
    @include title (1.71rem, 1);
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 95%;
      transform: translateY(-50%);
      width: 10vw;
      height: 2px;
      background: linear-gradient(to right, transparent 0, $bg-color-brand 0, $bg-color-brand 100%, transparent 100%);
    }
  }

  .additional-products__list {
    @include no-list-style;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 35px;


    .additional-products__item {
      position: relative;
      padding-bottom: 20px;
    }

    .additional-products__item::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(to right, transparent 0, $border-color-tertiary 0, $border-color-tertiary 100%, transparent 100%);
    }
  }

  .additional-products__heading {
    @include title (1.14rem, 1, $subtitle-color-dark);
    @include no-margin-padding;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .additional-products__detail {
    @include css-grid (2, 20px);
    margin-bottom: 14px;
    width: auto;

    .additional-products__label {
      line-height: 1;
      text-align: left;
      max-width: 150px;
    }

    .additional-products__price {
      line-height: 1;
      text-align: right;
    }
  }

  .additional-products__button-order {
    width: 100%;
  }

  .additional-products__promo {
    @include flex-center;
    align-items: flex-end;
    margin-bottom: 42px;
  }
}

@media (min-width: 768px) {
  .additional-products {
    padding: 0 30px;

    .additional-products__title {
      @include title (2rem, 1);
      padding: 0 38px;
      margin-bottom: 78px;

      &::after {
        width: 50vw;
        left: 54%;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        width: 4vw;
        height: 2px;
        background: linear-gradient(to right, transparent 0, $bg-color-brand 0, $bg-color-brand 100%, transparent 100%);
      }
    }

    .additional-products__list {
      gap: 0;
      width: 707px;
      margin: 0 auto;
      margin-bottom: 64px;

      .additional-products__item {
        display: flex;
        flex-wrap: wrap;
        padding: 33px 36px;
        border-left: 1px solid $border-color-tertiary;
        border-right: 1px solid $border-color-tertiary;
      }

      .additional-products__item:first-child {
        border-top: 1px solid $border-color-tertiary;
      }

      .additional-products__heading {
        @include title (1.25rem, 1, $subtitle-color-dark);
        margin-right: auto;
      }

      .additional-products__detail {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
      }

      .additional-products__label,
      .additional-products__price {
        line-height: 1.25;
      }

      .additional-products__button-order {
        font-size: 1rem;
        line-height: 1.25;
      }
    }

    .additional-products__promo {
      width: 100%;
      min-height: 200px;
      margin-bottom: 85px;
    }
  }
}

@media (min-width: 1440px) {
  .additional-products {
    padding: 0 110px;
    margin-bottom: 10px;

    .additional-products__promo {
      width: 245px;
      height: 288px;
      margin-bottom: 84px;
    }

    .additional-products__title {
      @include title (2.5rem, 1);
      grid-column: span 2;
      padding: 0;
      margin-bottom: 82px;

      &::after {
        width: 100%;
        left: 34%;
      }

      &::before {
        width: 67%;
        left: -70%;
      }
    }

    .additional-products__wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 80px;
    }

    .additional-products__list {
      @include no-margin-padding;
      grid-template-rows: repeat(auto-fit, 70px);
      width: 894px;

      .additional-products__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center center;
        padding: 15px 0;
        border-right: none;
        border-left: none;
      }

      .additional-products__heading {
        @include no-margin-padding;
        justify-self: start;
      }

      .additional-products__detail {
        @include no-margin-padding;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      .additional-products__button-order {
        width: 244px;
        justify-self: end;
      }
    }
  }
}
