.additional-products {
  width: 100%;

  &__title {
    @include title(24px, 24px);
  }

  &__list {
    @include no-list-style;
    line-height: $line-height-xxs;
  }

  &__heading {
    @include title (16px, 16px, $subtitle-color-dark);
    text-transform: uppercase;
  }
}
