.advantages {
  width: 100%;

  .advantages__title {
    @include title(36px, 40px);
    @include no-margin-padding;
  }

  .advantages__description {
    @include no-margin-padding;
    max-width: 767px;
  }

  .advantages__list {
    @include no-list-style;
    @include no-margin-padding;
  }

  .advantages__item {
    @include flex-center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;

    &::before {
      content: "";
      width: 60px;
      height: 60px;
      background-color: $brand-color-primary;
    }

    &--leaf::before {
      background-image: url("../../icons/stack.svg#leaf");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--cup::before {
      background-image: url("../../icons/stack.svg#cup");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--icon-eat::before {
      background-image: url("../../icons/stack.svg#icon_eat");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--clock::before {
      background-image: url("../../icons/stack.svg#clock");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
