.advantages {
  width: 100%;
  padding: 0 20px;
  padding-bottom: 30px;

  .advantages__title {
    @include title(2.57rem, 1.11);
    @include no-margin-padding;
    margin-bottom: 40px;
  }

  .advantages__description {
    @include no-margin-padding;
  }

  .advantages__list {
    @include no-list-style;
  }

  .advantages__item {
    @include flex-center;
    gap: 20px;
    margin-bottom: 20px;

    &::before {
      content: "";
      width: 60px;
      height: 60px;
      padding: 30px;
      background-color: $brand-color-primary;
    }

    &--leaf::before {
      background-image: url("../../icons/stack.svg#leaf");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--cup::before {
      background-image: url("../../icons/stack.svg#cup");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--icon-eat::before {
      background-image: url("../../icons/stack.svg#icon_eat");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--clock::before {
      background-image: url("../../icons/stack.svg#clock");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }
}
