/* ОСНОВНЫЕ СТИЛИ ДЛЯ ВСЕХ КНОПОК */

//Переменные для стилизации кнопок
$button-font-size: 16px;
$button-line-height: 20px;
$button-primary-bg: #68b738;
$button-secondary-bg: transparent;
$button-tertiary-bg: #f2f2f2;
$button-primary-color: #ffffff;
$button-secondary-color: #000000;
$button-tertiary-color: #444444;
$button-hover: #5eaa2f;

//Базовая стилизация кнопок
.button {
  display: inline-block;
  padding: 10px 44px;
  font-family: $secondary-font;
  font-size: $button-font-size;
  font-weight: 400;
  line-height: $button-line-height;
  color: $button-primary-color;
  background-color: $button-primary-bg;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;

  //Стили для разных кнопок

  &--secondary {
    background-color: $button-secondary-bg;
    color: $button-secondary-color;
  }

  &--slider-icon {
    background-color: $button-secondary-bg;
  }

  &--show-all {
    background-color: $button-tertiary-bg;
    color: $button-tertiary-color;
  }

  // Изменение размера кнопки в зависимости в зависимости от ширины экрана

  @media (max-width: $tablet-width) {
    width: 280px;
  }

  // Стили для состояний кнопок
  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-hover;
    opacity: 0.8;
  }

  &--secondary:hover {
    background-color: $button-secondary-bg;
  }

  &--secondary:active {
    background-color: $button-secondary-bg;
    opacity: 0.3;
  }
}
