.catalog {
  width: 100%;
}

.catalog__title {
  @include title(36px, 36px);
}

.catalog__product-title {
  @include title (16px, 20px, $subtitle-color-dark);
  text-transform: uppercase;

  &--wrap {
    color: $title-color-dark-secondary;
  }
}

.catalog__list {
  @include no-list-style;
}

.catalog__item {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}

.catalog__item--show-all {
  min-height: 300px;
  // text-align: center;
}

.catalog__item--show-all::before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("../../icons/stack.svg#plus");
  background-size: contain;
  background-repeat: no-repeat;
}
