.catalog {
  width: 100%;
  padding: 0 20px;

  .catalog__title {
    @include title (2.57rem, 1, $subtitle-color-dark);
    @include no-margin-padding;
    position: relative;
    padding-top: 25px;
    padding-bottom: 40px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -7%;
      right: -7%;
      height: 1px;
      background: linear-gradient(to right, transparent 0, $border-color-tertiary 0, $border-color-tertiary 100%, transparent 100%);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -7%;
      right: -7%;
      height: 1px;
      background: linear-gradient(to right, transparent 0, $border-color-tertiary 0, $border-color-tertiary 100%, transparent 100%);
    }
  }

  .catalog__list {
    @include no-list-style;
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-bottom: 20px;
  }

  .catalog__item {
    display: grid;
    gap: 20px 0;
    grid-template-areas:
      "img    title"
      "img    details"
      "button button";
    grid-auto-rows: 45px;
    justify-content: center;
    position: relative;
    font-size: 0.86rem;
    min-width: 280px;
    min-height: 210px;
    line-height: 1.33;
    padding: 10px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -7%;
      right: -7%;
      height: 1px;
      background: linear-gradient(to right, transparent 0, $border-color-tertiary 0, $border-color-tertiary 100%, transparent 100%);
    }
  }

  .catalog__product-title {
    grid-area: title;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    width: 60%;
    margin-top: 13px;
  }

  .catalog__product-image {
    grid-area: img;
    max-height: 107px;
  }

  .catalog__product-details {
    @include no-margin-padding;
    grid-area: details;

    .catalog__product-detail {
      @include flex-grid (2, 1px);
      place-items: center center;
    }

    .catalog__product-label {
      @include no-margin-padding;
      text-align: left;
    }

    .catalog__product-value {
      @include no-margin-padding;
      margin-left: 0;
      text-align: right;
    }
  }

  .catalog__item.catalog__item--more {
    @include flex-center;

    .catalog__product-title.catalog__product-title--more {
      padding: 0;
      width: 280px;
      margin-top: 41px;
    }


    .catalog__description {
      @include title (0.86rem, 1.33, $text-color-primary, $primary-font);
      @include no-margin-padding;
      text-align: center;
      padding: 0 25px;
      margin-bottom: 20px;
    }

    .catalog__product-title {
      @include title (1.14rem, 1.25, $subtitle-color-dark);
      @include no-margin-padding;
      position: relative;
      text-transform: uppercase;
      overflow-wrap: break-word;
      text-align: center;
      padding: 0 25px;
      margin: 0 auto;
      margin-bottom: 14px;
    }

    // .catalog__product-title--more {
    //   @include no-margin-padding;
    //   text-align: center;
    //   // padding: 0 20px;
    //   margin-top: 60px;
    //   margin-bottom: 8px;
    // }

    .catalog__product-title--more::before {
      @include absolute-center;
      content: "";
      top: -188%;
      width: 30px;
      height: 30px;
      display: block;
      background-image: url("../../icons/stack.svg#plus");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.catalog__button-order,
.catalog__button {
  @include flex-center;
  grid-area: button;
  padding: 10px 50px;
  width: 100%;
  height: 40px;
}

.catalog__button-order {
  margin-top: 2px;
}


@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;

    .catalog__title {
      @include title (3.75rem, 1, $subtitle-color-dark);
      margin-bottom: 70px;
      padding: 18px 0;

      &::after,
      &::before {
        display: none;
      }
    }

    .catalog__list {
      grid-template-columns: repeat(auto-fit, minmax(245px, 324px));
      justify-content: space-evenly;
      gap: 60px;
      margin-bottom: 65px;
    }

    .catalog__item {
      @include no-margin-padding;
      position: relative;
      min-height: 511px;
      max-width: 324px;
      background: linear-gradient(to top, $bg-color-secondary 85%, transparent 85%);
      grid-template-columns: unset;
      grid-template-rows: repeat(4, auto);
      gap: 0;
      grid-template-areas:
        "img"
        "title"
        "details"
        "button";
    }

    .catalog__product-image {
      min-width: 160px;
      max-height: 200px;
      margin: 0 auto;
    }

    .catalog__product-title {
      @include title (1.25rem, 1.5, $subtitle-color-dark);
      text-align: center;
      padding: 0 20px;
      margin: 0 auto;
    }

    .catalog__product-details {
      padding: 0 35px;

      .catalog__product-detail {
        border-bottom: 1px solid $border-color-secondary;
      }

      .catalog__product-label,
      .catalog__product-value {
        font-size: 1rem;
        line-height: 1.25;
        padding: 5px 0;
      }
    }

    .catalog__button-order {
      width: 250px;
      margin: 0 auto;
      max-height: 40px;
      font-size: 1rem;
      line-height: 1.25;
      margin-bottom: 25px;
    }

    .catalog__item::after {
      display: none;
    }

    .catalog__item.catalog__item--more {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      color: $title-color-dark-secondary;

      .catalog__item-wrapper-more {
        margin-top: auto;
        min-height: 432px;
        border: 1px solid #d3d3d3;
        background-color: $bg-color-primary;
      }

      .catalog__product-title.catalog__product-title--more {
        width: 134px;
        margin-top: 155px;
        margin-bottom: 23px;
      }

      .catalog__product-title--more {
        line-height: 1.25;
        margin-bottom: 27px;
        margin-top: 160px;
        padding: 0 90px;
      }

      .catalog__product-title--more::before {
        width: 60px;
        height: 60px;
        top: -80px;
      }

      .catalog__description {
        text-align: center;
        font-size: 1rem;
        line-height: 1.13;
        overflow-wrap: break-word;
        padding: 0 50px;
        margin-bottom: 80px;
      }

      .button--more {
        width: 220px;
        margin-bottom: 37px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .catalog {
    padding: 0 110px;

    .catalog__list {
      grid-template-columns: repeat(4, 245px);
      gap: 60px 80px;

      .catalog__item {
        max-width: 245px;
        background: linear-gradient(to top, $bg-color-secondary 88%, transparent 88%);
      }

      .catalog__product-title {
        padding: 0;
      }

      .catalog__product-image {
        margin-bottom: 20px;
      }

      .catalog__item.catalog__item--more .catalog__item-wrapper-more {
        min-height: 245px;
      }

      .catalog__item.catalog__item--more .catalog__product-title--more {
        margin-bottom: 54px;
      }

      .catalog__item.catalog__item--more .catalog__product-title--more::before {
        top: -70px;
      }

      .catalog__item.catalog__item--more .catalog__description {
        padding: 0 34px;
      }

      .catalog__item.catalog__description {
        padding: 0 15px;
        margin-bottom: 90px;
      }

      .catalog__button-order,
      .catalog__item.catalog__item--more .button--more {
        width: 170px;
        padding: 10px 20px;
      }
    }
  }
}
