.examples {
  width: 100%;
  background-color: $bg-color-tertiary;

  &__title {
    @include title(36px, 40px);
  }

  &__number {
    @include title(24px, 24px);
    text-transform: uppercase;
  }

  &__detail {
    font-size: 12px;
    line-height: 12px;
  }

  &__outcome {
    @include title(14px, 20px);
    text-transform: uppercase;
  }
}
