.examples {
  width: 100%;
  margin: 0 auto;
  background-color: $bg-color-tertiary;
  padding: 25px 20px 20px;

  .examples__title {
    @include title(2.57rem, 1.11);
    @include no-margin-padding;
    margin-bottom: 40px;
  }

  .examples__description {
    @include no-margin-padding;
    margin-bottom: 20px;
  }

  .examples__list {
    @include no-list-style;
    @include flex-center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;  //ПО МАКЕТУ 20, ИЗ-ЗА НАДПИСИ УВЕЛИЧИЛА
  }

  .examples__item {
    @include flex-center;
    flex-direction: column;
    gap: 15px;
    width: 124px;
    height: 70px;
    border: 1px solid $border-color-secondary;
    border-radius: 3px;
  }

  .examples__number {
    @include title(1.71rem, 1);
    text-transform: uppercase;
    padding-top: 30px;
  }

  .examples__detail {
    margin: 0 auto;
    width: 87px;
    font-size: 0.86rem;
    line-height: 1;
    background-color: $bg-color-tertiary;
    text-transform: lowercase;
    overflow-wrap: break-word;
    padding: 0 15px;
  }

  .examples__outcome {
    @include title(1rem, 1.43);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  .examples__gallery {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 280px;
    max-width: 560px;
    height: 256px;
    max-height: 512px;
  }
}
