.examples {
  width: 100%;
  min-width: 320px;
  max-width: 767px;
  background-color: $bg-color-tertiary;
  padding: 25px 20px 40px;

  .examples__title {
    @include title(36px, 40px);
    @include no-margin-padding;
    margin-bottom: 40px;
  }

  .examples__description {
    @include no-margin-padding;
    margin-bottom: 20px;
  }

  .examples__list {
    @include no-list-style;
    @include flex-center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px;
    text-align: center;
    width: 280px;
    margin-bottom: 30px;  //ПО МАКЕТУ 20, ИЗ-ЗА НАДПИСИ УВЕЛИЧИЛА
  }

  .examples__item {
    @include flex-center;
    flex-direction: column;
    gap: 15px;
    width: 124px;
    height: 70px;
    border: 1px solid $border-color-secondary;
    border-radius: 3px;
  }

  .examples__number {
    @include title(24px, 24px);
    text-transform: uppercase;
    margin-top: 30px;
  }

  .examples__detail {
    margin: 0 auto;
    width: 87px;
    font-size: 12px;
    line-height: 12px;
    background-color: $bg-color-tertiary;
    text-transform: lowercase;
    overflow-wrap: break-word;
    padding: 0 15px;
  }

  .examples__outcome {
    @include title(14px, 20px);
    text-transform: uppercase;
    text-align: center;
  }

  .examples__gallery {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 280px;
    max-width: 560px;
    height: 256px;
    max-height: 512px;
  }
}
