/* СТИЛИ ДЛЯ ШАПКИ САЙТА */

.main-header {
  position: relative;
  width: 100%;
  max-width: 320px; // МЕНЯТЬ НА 768/1440 !!!
  margin: 0 auto;
  padding: 14px 20px;

  .main-header__logo {
    gap: 56px;
  }

  .main-header__wrapper {
    @include flex-center;
    justify-content: space-between;
  }
}
