@media (max-width: 767px) {
  .hero {
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, auto);
    place-items: center;
    width: 100%;
    min-height: 302px;
    padding: 20px 20px 0;
    background:
      linear-gradient(to bottom, $bg-color-brand-rgba 62%, transparent 62%),
      image-set(url("../../images/bg-cat-mobile@1x.jpg") 1x,
      url("../../images/bg-cat-mobile@2x.jpg") 2x);
    background-size: cover, 100% 62%;
    background-position: center, top;
    background-repeat: no-repeat;

    @media (min-width: 500px) and (max-width: 767px) {
      min-height: 600px;
      background-size: auto;
      position: center;
    }

    .hero__title {
      @include title (2.57rem, 1, $title-color-light);
      @include no-margin-padding;
      text-align: center;
      overflow-wrap: break-word;
      margin-bottom: 25px;
    }

    .hero__description {
      @include title (1rem, 1, $title-color-light);
      @include no-margin-padding;
      text-align: center;
      text-transform: uppercase;
      overflow-wrap: break-word;
      margin-bottom: 30px;
    }

    .hero__image {
      margin: auto;
      min-height: 270px;
      padding: 20px;
    }

    .hero__button {
      min-width: 280px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    width: 100%;
    min-height: 550px;
    padding: 15px 30px 0;
    background-color: $bg-color-primary;
    background-size: auto;

    .hero__title {
      @include title (3.75rem, 1, $text-color-secondary);
      @include no-margin-padding;
      padding: 0 90px;
      margin-bottom: 40px;
    }

    .hero__description {
      @include title (1.25rem, 1, $text-color-secondary);
      @include no-margin-padding;
      padding: 0 90px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .hero__button {
      position: absolute;
      top: 30%;
      left: 11%;
    }

    .hero__image {
      min-height: 608px;
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 70px;

    .hero__title {
      max-width: 600px;
      padding: 0 80px;
      margin-bottom: 40px;
    }

    .hero__description {
      padding: 0 80px;
      margin-bottom: 52px;
    }

    .hero__button {
      position: static;
      padding: 10px 20px;
      margin-left: 80px;
    }

    .hero__image {
      @include absolute-center;
      position: absolute;
      left: 58%;
      max-height: 500px;
      z-index: 2;
    }
  }
}
