@media (max-width: 767px) {
  .hero {
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, auto);
    place-items: center;
    width: 100%;
    min-height: 302px;
    padding: 20px 20px 0;
    background:
      linear-gradient(to bottom, $bg-color-brand-rgba 60%, transparent 60%),
      image-set(url("../../images/bg-cat-mobile@1x.webp") 1x,
      url("../../images/bg-cat-mobile@2x.webp") 2x);
    background-size: cover, 100% 60%;
    background-position: center, top;
    background-repeat: no-repeat;

    @media (min-width: 400px) and (max-width: 485px) {
      background:
        linear-gradient(to bottom, $bg-color-brand-rgba 62%, transparent 62%),
        image-set(url("../../images/bg-cat-mobile@1x.webp") 1x,
        url("../../images/bg-cat-mobile@2x.webp") 2x);
      background-size: auto;
      background-position: center top;
      background-repeat: no-repeat;
    }

    @media (min-width: 486px) and (max-width: 533px) {
      background:
        linear-gradient(to bottom, $bg-color-brand-rgba 61%, transparent 61%),
        image-set(url("../../images/bg-cat-desktop@1x.webp") 1x,
        url("../../images/bg-cat-desktop@2x.webp") 2x);
      background-size: contain, 60% 61%;
      background-position: 80% 50%, top;
      background-repeat: no-repeat;
    }

    @media (min-width: 534px) and (max-width: 767px) {
      background:
        linear-gradient(to bottom, $bg-color-brand-rgba 66%, transparent 66%),
        image-set(url("../../images/bg-cat-desktop@1x.webp") 1x,
        url("../../images/bg-cat-desktop@2x.webp") 2x);
      background-size: contain, 60% 66%;
      background-position: center top;
      background-repeat: no-repeat;
    }

    .hero__title {
      @include title (2.57rem, 1, $title-color-light);
      @include no-margin-padding;
      text-align: center;
      overflow-wrap: break-word;
      margin-bottom: 29px;
    }

    .hero__description {
      @include title (1rem, 1, $title-color-light);
      @include no-margin-padding;
      text-align: center;
      text-transform: uppercase;
      overflow-wrap: break-word;
      margin-bottom: 30px;
    }

    .hero__image {
      margin: auto;
      min-height: 273px;
    }

    .hero__button {
      min-width: 280px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    width: 100%;
    min-height: 550px;
    padding: 15px 30px 0;
    background-color: $bg-color-primary;
    background-size: auto;

    .hero__title {
      @include title (3.75rem, 1, $text-color-secondary);
      @include no-margin-padding;
      padding: 14px 90px;
      margin-bottom: 29px;
    }

    .hero__description {
      @include title (1.25rem, 1, $text-color-secondary);
      @include no-margin-padding;
      padding: 0 90px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .hero__button {
      position: absolute;
      top: 31%;
      left: 11%;
      font-size: 1.25rem;
      line-height: 1.3;
      min-height: 54px;
      width: 244px;
      padding: 14px;
      margin-left: 36px;
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 70px;

    .hero__title {
      max-width: 500px;
      margin-bottom: 40px;
      margin-top: -11px;
      padding: 0 30px;
      margin-left: 90px;
    }

    .hero__description {
      max-width: 500px;
      padding: 0 30px;
      margin-left: 90px;
      margin-bottom: 52px;
    }

    .hero__button {
      position: relative;
      top: 0;
      left: 0;
      margin-left: 120px;
      z-index: 2;
    }

    .hero__image {
      @include absolute-center;
      @include no-margin-padding;
      position: absolute;
      left: 58%;
      top: 41%;
      z-index: 2;
    }
  }
}
