.htmlacademy-logo {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}


@media (min-width: 768px) {
  .htmlacademy-logo {
    width: 159px;
    padding: 0;
  }
}
