.location {
  width: 100%;
  min-height: 362px;

  .location__map {
    @include no-margin-padding;
    position: relative;

    .location__iframe {
      width: 100%;
      height: auto;
      border: none;
      display: block;
    }

    &::after {
      @include absolute-center;
      position: absolute;
      content: "";
      width: 76px;
      height: 76px;
      background-image: url("../../icons/map-pin.svg");
      background-size: cover;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  .location__iframe {
    width: 100%;
    min-height: 362px;
  }
}


@media (min-width: 768px) {
  .location {
    .location__iframe {
      min-height: 400px;
    }

    .location__map::after {
      width: 113px;
      height: 106px;
    }
  }
}
