.logo {
  .logo__link {
    position: relative;
  }

  .logo__link:hover .logo__text,
  .logo__link:hover .logo__img {
    opacity: 0.8;
  }

  .logo__link:active .logo__text,
  .logo__link:active .logo__img {
    opacity: 0.6;
  }

  .logo__link:hover,
  .logo__img:hover {
    opacity: 0.8;
  }

  .logo__link:active,
  .logo__img:active {
    opacity: 0.6;
  }

  // .logo__link--htmlacademy:focus-visible {
  //   outline: 3px solid #007bff;
  //   outline-offset: 5px;
  // }


  .logo__link--htmlacademy {
    @include flex-center;
    width: 27px;
    height: 34px;
    background-color: $brand-color-secondary;
    mask-image: url("../../icons/stack.svg#htmlacademy-logo");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;

    &:hover,
    &:active {
      background-color: $color-hover-secondary;
    }
  }
}
