.main-header {
  position: relative;
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  padding: 10px 20px;

  .main-header__logo {
    @include flex-center;
    gap: 56px;
    width: auto;
  }

  .main-header__wrapper-mobile {
    @include flex-center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }

  .main-header__toggle {
    @include flex-center;
    justify-content: end;
    background-color: $bg-color-primary;
    cursor: pointer;
    border: none;

    &--open {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .main-header {
    padding: 25px 30px;

    .main-header__container {
      @include flex-center;
      justify-content: space-between;
    }

    .main-header__logo {
      width: 174px;
      gap: 14px;
    }

    .main-header__toggle {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .main-header {
    padding: 35px 110px 10px;

    .main-header__container {
      position: relative;
    }
  }
}
