.main-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.main-navigation__list {
  @include no-list-style;
  @include no-margin-padding;
  width: 100%;
}

.main-navigation__item {
  @include title (20px, 20px, $title-color-dark);
  text-transform: uppercase;
  text-align: center;
}

.main-navigation__link {
  display: block;
  width: 100%;
  padding: 22px 50px 24px;
  border-top: 1px solid $border-color-tertiary;
  border-bottom: 1px solid $border-color-tertiary;
}

.main-navigation__toggle {
  @include flex-center;

  &--burger {
    margin-left: auto;
    transform-origin: center center;
    transition: transform 0.3s ease, stroke 0.3s ease;

    &:hover {
      transform: scale(1.2);  // РАБОТАЕТ!!!
    }

    &:active path {
      stroke: $brand-color-primary; // Зеленый цвет // НЕ РАБОТАЕТ!!!
    }
  }
}
