.main-navigation {
  .main-navigation__list {
    @include no-list-style;
    @include no-margin-padding;
  }

  .main-navigation__item {
    @include title (1.43rem, 1);
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
      @include title (1.13rem, 1.33);
    }

    @media (min-width: 1440px) {
      @include title (1.25rem, 1.5, $bg-color-primary);

      &--dark {
        @include title (1.25rem, 1.5);
      }
    }
  }

  .main-navigation__link {
    position: relative;
    display: block;
    padding: 23px 40px;
    border-top: 1px solid $border-color-tertiary;

    &:hover {
      color: $button-tertiary-color;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: 768px) {
      padding: 8px 0;
      border: none;
    }
  }
}

@media (min-width: 768px) {
  .main-navigation {
    min-width: 434px;
    max-width: 500px;
  }
}

@media (min-width: 1440px) {
  .main-navigation {
    max-width: 600px;
    z-index: 2;


    .main-navigation__link {
      &:hover {
        color: $title-color-light;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}
