/* СТИЛИ ДЛЯ ШАПКИ САЙТА */

@media (max-width: 767px) {    // МОБИЛЬНЫЙ
  .main-header {
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;

    .main-header__logo {
      width: 180px;
      gap: 60px;
      // margin-bottom: 20px;
    }

    .main-header__wrapper-mobile {
      @include css-grid(2, 40px);
      margin: 20px 0;
    }

    .main-header__toggle {
      @include flex-center;
      justify-content: end;
      background-color: $bg-color-primary;
      cursor: pointer;
      border: none;
    }
  }
}

@media (min-width: 768px) {         // ПЛАНШЕТ
  .main-header {
    width: 100%;
    margin: 0 auto;
    padding: 25px 35px;
    margin-bottom: 15px;
  }

  .main-header__container {
    @include flex-grid (2, 10px);
    flex-wrap: nowrap;
    width: 92%;
    margin: 0 auto;
  }

  .main-header__logo {
    width: 174px;
    gap: 13px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-header__container {
    position: relative;
  }
}
