.main-header {
  position: relative;
  width: 100%;
  min-width: 280px;

  .main-header__logo {
    @include flex-center;
    gap: 57px;
    width: auto;
    min-height: 38px;

    @media (min-width: 375px) and (max-width: 767px) {
      margin: 0 auto;
    }
  }

  .main-header__wrapper-mobile {
    @include flex-center;
    justify-content: space-between;
    width: auto;
    padding: 13px 20px;
  }
}


.main-header__toggle {
  @include flex-center;
  justify-content: end;
  background-color: $bg-color-primary;
  cursor: pointer;
  border: none;

  &--nojs .main-header__icon--burger,
  &--nojs .main-header__icon--close {
    display: none;
  }

  &--open .main-header__icon--burger {
    display: none;
  }

  &--open .main-header__icon--close {
    display: block;
  }

  &--close .main-header__icon--burger {
    display: block;
  }

  &--close .main-header__icon--close {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-header {
    padding: 17px 30px;

    .main-header__wrapper-mobile {
      padding: 12px 4px;
    }

    .main-header__container {
      @include flex-center;
      justify-content: space-between;
    }

    .main-header__logo {
      width: 174px;
      gap: 14px;
    }

    .main-header__toggle {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .main-header {
    padding: 55px 110px 29px;

    .main-header__logo {
      width: 193px;
      gap: 8px;
    }

    .main-header__container {
      position: relative;
      justify-content: flex-end;
      gap: 408px;
    }

    .main-header__wrapper-mobile {
      margin-right: auto;
    }
  }
}
