.main-footer {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: $bg-color-secondary;

  .main-footer__logo,
  .main-footer__social {
    @include flex-center;
    width: 100%;
    border-bottom: 1px solid $border-color-primary;
    padding: 22px 0;
  }
}


@media (min-width: 768px) {
  .main-footer {
    @include flex-center;
    justify-content: space-between;
    padding: 55px 30px;

    .main-footer__logo {
      width: 132px;
      border-bottom: none;
      padding: 0;
    }

    .main-footer__social {
      width: 162px;
      border-bottom: none;
      padding: 0;
      margin-left: 143px;
    }
  }
}

@media (min-width: 1440px) {
  .main-footer {
    padding: 70px 110px;

    .main-footer__social {
      margin: 0 auto;
    }
  }
}
