.main-navigation {
  display: none;
  width: 100%;
  min-width: 320px;  // 1440 !!!
}

.main-navigation__list {
  @include no-list-style;
  @include no-margin-padding;
  width: 100%;
}

.main-navigation__item {
  @include title (1.43rem, 1);
  text-align: center;
  text-transform: uppercase;
}

.main-navigation__link {
  display: block;
  padding: 24px 30px;
  border-top: 1px solid $border-color-tertiary;

  &:hover {
    color: $button-tertiary-color;
  }

  &:active {
    opacity: 0.3;
  }
}
