.news {
  width: 100%;
  min-width: 280px;
}

.news__title {
  @include title(24px, 24px);
}

.news__description {
  @include title (16px, 24px);
}

.news__subscription-email {
  width: 100%;
  padding: 13px;


  &__::placeholder {
    @include title(20px, 30px, $text-color-primary);
    text-transform: uppercase;
  }
}

