// Sticky footer и общие стили

.page {
  height: 100%;
  font-size: $font-size-mobile; //14px
  line-height: $line-height-mobile; // 1.29 или 18px

  @media (min-width: $tablet-width) {
    font-size: $font-size-base; //16px
    line-height: $line-height-base; // 1.5 или 24px
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  background-color: $bg-color-primary;
  color: $text-color-primary;
}

.page__container {
  flex-grow: 1;
}
