// Sticky footer

.page {
  height: 100%;

  font-family: $primary-font;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color-primary;
  background-color: $bg-color-primary;
}

.page__container {
  flex-grow: 1;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
