.partnership {
  width: 100%;
}

.partnership__title {
  @include title(16px, 20px, $title-color-dark-secondary);
  text-transform: uppercase;
}

.partnership__contacts {
  font-style: normal;
  line-height: 20px;
}
