.partnership {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;

  &--change-bg {
    background-color: $bg-color-secondary;
    margin-bottom: -20px;
  }

  .partnership__title {
    @include title(1.14rem, 1.25, $title-color-dark-secondary);
    @include no-margin-padding;
    text-transform: uppercase;
    text-align: left;
    margin-right: 25px;
  }

  .partnership__contacts {
    font-style: normal;
    line-height: 1.43;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .partnership {
    width: 82%;
    min-height: 200px;
    gap: 40%;
    margin: 0 auto;

    &--change-bg {
      width: 100%;
      padding: 60px 70px;
    }

    .partnership__title {
      @include title(1.25rem, 1.3, $title-color-dark-secondary);
      margin: 0;
    }

    .partnership__contacts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: right;
      line-height: 1.25;
    }
  }
}


@media (min-width: 1440px) {
  .partnership {
    position: absolute;
    top: 30%;
    left: 7%;
    width: 39%;
    background-color: $bg-color-primary;
    padding: 46px 80px;
    gap: 5%;
    z-index: 2;

    .partnership__contacts {
      text-align: left;
    }
  }
}
