@media (max-width: 767px) {       // MOBILE
  .programs {
    width: 100%;

    .programs-wrapper {
      padding: 0 20px;
      margin: 0 auto;
    }

    .programs__title {
      @include title(1.72rem, 1.54);
      @include flex-center;
      @include no-margin-padding;
      justify-content: flex-start;
      gap: 20px;
      position: relative;
      text-transform: uppercase;
      padding: 20px;

      &::before {
        content: "";
        width: 50px;
        height: 50px;
        background-color: $brand-color-primary;
        border-radius: 50%;
      }

      &--cat-seat::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url("../../icons/stack.svg#cat-seat");
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 10px;
      }

      &--cat-go::after {
        content: "";
        position: absolute;
        left: 10px;
        width: 67px;
        height: 28px;
        background-image: url("../../icons/stack.svg#cat-go");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .programs__description {
      @include no-margin-padding;
      position: relative;
      color: $text-color-primary;
      padding: 0 22px 23px;
      text-align: left;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 4%;
        right: 4%;
        height: 1px;
        background: linear-gradient(to right, transparent 4%, $border-color-primary 4%, $border-color-primary 96%, transparent 96%);
      }
    }

    .programs__list {
      @include no-list-style;
    }

    .programs__item {
      background-color: $bg-color-secondary;
      margin-bottom: 20px;
    }

    .programs__button {
      @include flex-center;
      justify-content: flex-start;
      gap: 15px;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 18px;

      &::after {
        content: "";
        width: 32px;
        height: 10px;
        background-color: $text-color-secondary;
        mask-image: url("../../icons/stack.svg#arrow-right");
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
        transform-origin: center left;
      }

      &:hover::after {
        transform: scale(1.3);
      }

      &:active::after {
        background-color: $color-active-primary;
      }
    }
  }
}

@media (min-width: 768px) {          // TABLET
  .programs {
    width: 100%;
  }

  .programs__list {
    @include no-list-style;
    @include flex-grid (2, 30px);
    padding: 0 30px;
  }

  .programs__item {
    min-width: 55%;
    padding: 75px 60px 50px;
    background-color: $bg-color-secondary;
  }

  .programs__title {
    @include title(2.25rem, 1);
    @include no-margin-padding;
    position: relative;
    text-align: left;
    margin-bottom: 24px;
    text-transform: uppercase;

    &::before {
      position: absolute;
      top: 50%;
      left: 68%;
      content: "";
      width: 200px;
      height: 200px;
      background-color: $brand-color-primary;
      border-radius: 50%;
    }

    &--cat-seat::after {
      content: "";
      position: absolute;
      top: 0;
      left: 71%;
      width: 140px;
      height: 195px;
      background-image: url("../../icons/stack.svg#cat-seat");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--cat-go::after {
      content: "";
      position: absolute;
      top: 168%;
      left: 62%;
      width: 268px;
      height: 112px;
      background-image: url("../../icons/stack.svg#cat-go");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .programs__description {
    @include no-margin-padding;
    color: $text-color-primary;
    text-align: left;
    max-width: 59%;
    margin-bottom: 48px;

    &::after {
      display: none;
    }
  }

  .programs__button {
    position: relative;
    padding-left: 0;

    &::after {
      position: absolute;
      content: "";
      top: 36%;
      left: 90%;
      width: 24px;
      height: 12px;
      background-color: $text-color-secondary;
      mask-image: url("../../icons/stack.svg#arrow-right");
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.3s ease;
      transform-origin: center left;
    }

    &:hover::after {
      transform: scale(1.3);
    }

    &:active::after {
      background-color: $color-active-primary;
    }
  }
}

@media (min-width: 1440px) {   // DESKTOP
  .programs {
    width: 100%;
    margin-bottom: -10px;

    .programs__list {
      padding: 0 110px;
      justify-content: space-between;
      margin-bottom: 80px;

      .programs__item {
        min-width: 45%;
        flex: 0 0 570px;
        padding: 75px 50px 50px;
      }

      .programs__title {
        text-align: center;
        margin-bottom: 70px;
        margin-left: 30px;
      }

      .programs__title::before {
        width: 100px;
        height: 100px;
        top: -50%;
        left: -8%;
      }

      .programs__title--cat-seat::after {
        width: 70px;
        height: 97px;
        top: -60%;
        left: -4%;
      }

      .programs__title--cat-go::after {
        width: 134px;
        height: 56px;
        top: -4%;
        left: -12%;
      }

      .programs__description {
        max-width: 100%;
        margin-bottom: 23px;
      }
    }
  }
}
