
@media (max-width: 767px) {
  .site-menu,
  .site-menu--nojs {
    width: 100%;
    background-color: $bg-color-primary;

    &--catalog {
      background:
        linear-gradient(to bottom, $bg-color-brand-rgba 100%, transparent 100%),
        image-set(url("../../images/bg-cat-mobile@1x.jpg") 1x,
        url("../../images/bg-cat-mobile@2x.jpg") 2x);
      background-size: 100% 100%, 185% 185%;
      background-position: right 70% bottom 0;
      background-repeat: no-repeat;
    }

    &--open {
      position: absolute;
      top: 64px;
      left: 0;
      z-index: 2;
    }

    &--close {
      display: none;
    }

    .site-menu__link--catalog {
      color: $title-color-light;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    .site-menu__list {
      min-height: 198px;
    }
  }
}

@media (min-width: 768px) {
  .site-menu {
    .site-menu__list {
      @include flex-center;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 33px;
      border: none;
      width: auto;
    }

    .site-menu__link--active::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: $brand-color-primary;
    }
  }
}

@media (min-width: 1440px) {
  .site-menu {
    .site-menu__link--active::after {
      background: $title-color-light;
    }

    .site-menu__link--active-dark::after {
      background: $brand-color-primary;
    }
  }

  .site-menu--catalog {
    .site-menu__link {
      &:hover {
        color: $color-hover-primary;
      }
    }
  }
}
