.slider {
  position: relative;
  width: 100%;

  .slider__list {
    @include no-margin-padding;
  }

  .slider__img-before,
  .slider__img-after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .slider__img-before {
    z-index: 1;
    clip-path: inset(0 50% 0 0);
  }

  .slider__img-after {
    z-index: 2;
    clip-path: inset(0 0 0 50%);
  }
}

.slider__control {
  @include absolute-center;
  @include no-margin-padding;
  position: absolute;
  display: block;
  width: 4px;
  height: 100%;
  border-radius: 3px;
  background-color: $slider-color;
  border: none;
  box-shadow: none;
  transition: all 0.1s ease;
  cursor: pointer;
  z-index: 3;

  &::after {
    @include absolute-center;
    content: "";
    width: 24px;
    height: 18px;
    background-color: $slider-color;
    mask-image: url("../../icons/stack.svg#slider-arrows");
    mask-repeat: none;
    mask-position: center;
    mask-size: contain;
  }

  &::before {
    @include absolute-center;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid $slider-color;
  }

  &:hover,
  &:hover::before {
    border: 2px solid $color-hover-secondary;
  }

  &:hover::after {
    background-color: $color-hover-secondary;
  }

  &:active,
  &:active::after,
  &:active::before {
    opacity: 0.6;
  }
}
