.social {
  width: 100%;
  margin: 0 auto;

  .social__list {
    @include no-list-style;
    @include flex-center;
    justify-content: space-between;
    width: 132px;
    margin: 0 auto;

    @media (min-width: 768px) {
      margin: 0;
    }
  }
}

.social__link {
  @include flex-center;
  width: 26px;
  height: 20px;

  &:hover {
    background-color: $color-hover-secondary;
  }

  &:active {
    background-color: $color-hover-secondary;
    opacity: 0.6;
  }

  &--vkontakte {
    background-color: $brand-color-secondary;
    mask-image: url("../../icons/stack.svg#vkontakte");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
  }

  &--youtube {
    background-color: $brand-color-secondary;
    mask-image: url("../../icons/stack.svg#youtube");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
  }

  &--telegram {
    background-color: $brand-color-secondary;
    mask-image: url("../../icons/stack.svg#telegram");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
  }
}
