.social {
  width: 100%;

  .social__list {
    @include no-list-style;
    display: flex;
    gap: 20px;
    margin: 0 auto;
  }
}

.social__link {
  @include flex-center;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: $color-hover-secondary;
  }

  &:active {
    background-color: $color-hover-secondary;
    opacity: 0.6;
  }

  &--vkontakte {
    background-color: $brand-color-secondary;
    mask-image: url("../../icons/stack.svg#vkontakte");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
  }

  &--youtube {
    background-color: $brand-color-secondary;
    mask-image: url("../../icons/stack.svg#youtube");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
  }

  &--telegram {
    background-color: $brand-color-secondary;
    mask-image: url("../../icons/stack.svg#telegram");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
  }
}
